/*reset default spacing */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* whole page style */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}
/* header */
header{
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}
header h1{
    margin-bottom: 10px;
    align-items: start;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 12px;
    font-size: 16px;
}
nav a:hover{
    /* color: blue; */
    text-decoration: underline;
}

/* section one  */
.hero{
    padding: 60px 20px;
    text-align: center;
    background-color: white;
}
.hero h2{
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}
button{
    padding: 12px 25px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: #0056b3;
}

.content{
    max-width:80%;
    margin:30px auto;
    padding: 30px;
    background-color:white;
    border-radius: 8px;
}
.content h2{
    font-size: 28px;
    margin-bottom: 15px;
}

.content p, li{
    font-size:16px;
}
.content ul{
    list-style-type:none;
}
.content li{
    padding: 8px 0;
}
/* project */
#project{
    
    margin:30px auto;
    padding: 30px;
    background-color:white;
    border-radius: 8px;
}
.project-card-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
/* .project-card{
    flex:1;
    border: 1px solid #ddd;
    padding: 10px;
} */
/* #project article{
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 6px;
    margin-top: 15px;
}
#project h3{
    margin-bottom:8px;
}
.project-card-container{
    display: flex;
    gap: 20px;
}
.project-card{
    flex:1 1 min(25%,);
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 6px;
} */
footer{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}


